@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Burial>
<h2>Burial List</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Mummy Stuff Here</th>
                <th>Mummy Stuff Here</th>
                <th>Mummy Stuff Here</th>
                <th>Mummy Stuff Here</th>
                <th>Mummy Stuff Here</th>
                <th>Mummy Stuff Here</th>
                <th>Mummy Stuff Here</th>
            </tr>
        </thead>

        <tbody>
            <!--This is where our loop action can go.-->
            @foreach (Burial b in Model)
            {
                <tr>
                    <td>@b.BurialId</td>
                    <td>@b.Calibrated95Dateavg</td>
                    <td>All the fun info</td>
                    <td>All the fun info</td>
                    <td>All the fun info</td>
                    <td>All the fun info</td>
                </tr>
            }

        </tbody>
    </table>
</div>



