@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<BasicBurial>
<h2>Burial Database Catalogue</h2>


@foreach (var b in Model)
{
    <div class="card">
        <div class="card-header">
            @b.SingleBurial.BurialId @b.SingleLocation.BurialLocationEw @b.SingleSublocation.Subplot
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
}






