@{
    ViewData["Title"] = "BYU Egypt Excavation Project";
}

<div class="text-center">
    <h1 class="display-4 font-weight-normal">
        BYU Fag el-Gamous Cemetery Database
    </h1>

    <img src="~/img/burial.jpg" class="img-fluid" alt="responsive image" />
</div>
<br />

<div class="container text-center">
    <div class="row">
        <div class="col-sm">
            <h4>DISCOVERIES FOR THE WORLD TO SEE</h4>
            <p>Fag el-Gamous (which means Way of the Water Buffalo) is a large and important cemetery in Egypt that has been under archeological investigation (primarily by BYU researchers) for over 25 years. 
            The excavation has garnered international attention because of the interesting insights gained by studying the Fag el-Gamous mummies.</p>
            <form asp-action="BurialSummaryList">
                <button type="submit" class="btn btn-primary blue_button">Explore the Database</button>
            </form>
        </div>
        @*<div class="col-sm">
            <img src="~/img/scrap.JPG" style="width:200px" />
        </div>*@
        <div class="col-sm">
            <h4>RESEARCHER ACCESS</h4>
            <p>During multiple years of study, researchers have excavated more than 1,000 mummies and collected data in field notes, spreadsheets,
            and simple databases about each mummy’s location, physical orientation in the ground, burial depth, 
            hair color, wrapping , gender, age, bone
            dimensions, items accompanying the mummy, and more. </p>
            <form asp-controller ="Research" asp-action="Index">
                <button type="submit" class="btn btn-primary blue_button" >Sign in as a Researcher</button>
            </form>
            
        </div>
    </div>
</div>
