@{
    ViewData["Title"] = "Home Page";
}




<div class="text-center">
    <h1 class="display-4 font-weight-bold" >
        BYU Egypt Excavation Project
        <br />Fag el-Gamous Cemetery Database
    </h1>

    @*<img src="~/burial.jpg" class="img-fluid" alt="responsive image" />*@
</div>
<br />
<br />
<br />


<div class="container text-center">
    <div class="row">
        <div class="col-sm">
            <h3>column title</h3>
            <p>Fag el-Gamous (which means Way of the Water Buffalo) is a large and important cemetery in Egypt that has been under archeological investigation (primarily by BYU researchers) for over 25 years. 
            The excavation has garnered international attention because of the interesting insights gained by studying the Fag el-Gamous mummies.</p>
        </div>
        <div class="col-sm">
            <img src="~/scrap.JPG" style="width:200px" />
        </div>
        <div class="col-sm">
            <h3>column title</h3>
            <p>During multiple years of study, researchers have excavated more than 1,000 mummies and collected data in field notes, spreadsheets,
            and simple databases about each mummy’s location, physical orientation in the ground, burial depth, hair color, wrapping (including information about the textiles used), gender, age, bone (including skull and teeth) dimensions, items accompanying the mummy, and more. </p>
        </div>
    </div>
</div>
