@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Honestly, we feel like this is a decent privacy policy. Basically, the idea is that we can look at your email and stuff. Lucky for you, your password is hashed
    so we probably can't hack you big time. JK. We totally could if we want. And we reserve the right to do so. Like, we probably won't, but if Nate and I are 
    in need of some funds and crap, we may just give it a try. So probably just use a different password than your bank account password. Also, we 
    probably may try a targeted spearfishing attack, which we reserve the right to do so with your email that you provide. So I'd probably just be aware. 
    Social engineering isn't a crime in this situation because we're telling you now. So yeah. Just be ready. If you have further questions, they can be addressed 
    to your local Kiwanis Club branch. They won't know what you're talking about, but that's because they don't know what you're talking about most the time anyway.
    I think this is it. If I think of anything else, I may add it later, or not. We reserve the right to have additional policies that we don't tell you about.
    I don't know the legality of that, but it's legal. Trust me, I'm a lawyer. I'm not, actually, but that's beside the point. The point is, there are stories all around
    us. Just be on the lookout. Humans are full of wonder. I wish I could say that's an original quote, but it's not. Actually, it's just straight
    plaguerism. Is it still plaguerism if I declare it plaguerism? Probably not. Anyway, that's about the whole policy.
    I wonder if this is legally binding? Probably. Anyway, have fun.</p>
