@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

@model IEnumerable<Image>

<h4>Burial @ViewBag.burialname</h4>
<h2>Images</h2>
<br /><br />

<h3>@ViewBag.NoImages</h3>

<div class="row">
    @foreach (var i in Model)
    {
        <div class="col-4">

            <h5>Image #@i.ImageId</h5>
            <br />
            <img src="@i.ImagePath" class="img-fluid" />
            <br /><br />
        </div>
    }
</div>
<br />

<form method="post" asp-action="BurialDetails">
    <input type="hidden" name="id" value="@ViewBag.BurialID"/>
    <button type="submit" class="btn btn-secondary blue_button">Back</button>

</form>
